form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container-form{
    display: flex;
    justify-content: center;
}

.container-radio{
    display: flex;
}

.container-radio div{
    padding: 10px;
}

form label{
    color: #EBC181;
    font-weight: bold;
    margin-bottom: 5px;
}
form input{
    border-radius: 10px;
    border: 3px solid #333B1E;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

form input[type='file']{
    color: #FFFFFF;
}

form input::file-selector-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}


form input:focus{
    border: 3px solid #EBC181;
    outline: none;
}

h2.registro {
    color: #EBC181;
    font-weight: bold;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

h2.registro a {
    color: #333B1E;
    text-decoration: none;
    transition: color 0.3s; 
}

h2.registro a:hover {
    color: #EBC181; 
}

h3.error {
    color: #FF0000;
    font-weight: bold; 
    margin-top: 10px; 
    margin-bottom: 10px;
    text-align: center;
    background-color: #FFE6E6;
    padding: 10px; 
    border: 2px solid #FF0000;
    border-radius: 5px;
    max-width: 75%;
    margin: 10px auto;
}

.container-admin-banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 20px;
}



.container-admin-banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 20px;
}

h2{
    font-size: 24px;
}

.container-table{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-admin-banner h1{
    margin-top: 40px;
    font-size: 30px;
    color: #EBC181;
}

.container-lista-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
}

.container-lista{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #EBC181 0.5px;
    border-radius: 10px;
    padding: 10px;
    margin: 3px 0;
}

.container-lista h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.botao-cadastrar{
    background: #EBC181;
    color: #333B1E;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}


.botao-editar{
    background: #9B8357;
}

.botao-excluir{
    background: crimson;
}

.errors {
    background-color: #FFD2D2; 
    border: 1px solid #FF0000;
    color: #FF0000; 
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.errors ul {
    padding: 0;
    margin: 0;
}

.errors ul li {
    list-style-type: none;
    margin: 5px 0;
    color: #FF0000;
}

.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}