body{
    background-color: #333B1E;
    font-family: 'Barlow', sans-serif;
}
main{
    height: 100vh;
}

.container-banner{
    width: 100%;
    height: 80%;
    background-image: url("../img/banner-site.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.container-texto-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.container-banner h1,p{
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #FFF;
    font-weight: bold;
}


.container-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-menu-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-menu-titulo h3{
    font-size: 32px;
    color: #EBC181;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-menu-itens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #EBC181 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
    position: relative;
}

.container-itens img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-itens p{
    margin: 10px 0;
    text-align: center;
}

.container-itens p:nth-child(4){
    color: #9B8357;
    font-size: 18px;
    font-weight: 600;
}

.container-itens p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.ornaments{
    width: 200px;
}

.titulo-menu-principal{
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #FFFFFF; 
    font-weight: bold;
}

header {
    background-color: #333B1E;
    padding: 20px 0;
    text-align: center;
}

nav {
    nav {
        position: relative;
        z-index: 1100;
    }
    
}

nav a {
    color: #EBC181;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

nav a:hover {
    color: #FFF;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #EBC181;
    font-size: 24px;
    font-weight: bold;
}

ul li a:hover {
    color: #FFF;
}

.tabelas {
    width: 100%;
    max-width: 800px; /* Define a largura máxima da tabela */
    margin: 15px auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse;
    border: 1px solid #EBC181; /* Adiciona uma borda ao redor da tabela */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.tabelas thead {
    background-color: #EBC181;
}

.tabelas thead th {
    color: #333B1E;
    font-size: 18px;
    padding: 15px; /* Aumenta o preenchimento para mais espaço */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 1px; /* Aumenta o espaçamento entre letras */
}

.tabelas tbody tr {
    background-color: #555;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao fundo */
}

.tabelas tbody tr:nth-child(odd) {
    background-color: #666;
}

.tabelas tbody td {
    color: #FFF;
    font-size: 16px;
    padding: 15px; /* Aumenta o preenchimento para mais espaço */
    text-align: center;
    border-top: 1px solid #EBC181; /* Adiciona uma borda superior */
}

.tabelas tbody tr:hover {
    background-color: #777;
}

.tabelas tbody tr:nth-child(odd):hover {
    background-color: #888; /* Cor diferente ao pairar em linhas ímpares */
}

.container-itens a {
    display: relative;
    padding: 10px 15px;
    margin: 5px;
    color: #FFF;
    background-color: #9B8357;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container-itens a:hover {
    background-color: #EBC181;
    color: #333B1E;
    transform: translateY(-2px);
}

.container-itens a:active {
    transform: translateY(0);
}

.container-itens a.edit {
    background-color: #4CAF50;
}

.container-itens a.delete {
    background-color: #f44336;
}

.container-itens a.edit:hover {
    background-color: #66bb6a;
    color: #FFF;
}

.container-itens a.delete:hover {
    background-color: #e57373;
    color: #FFF;
}

.actions-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.container-resumo {
    margin: 20px auto;
    text-align: center;
}

.container-estatisticas {
    margin: 20px auto;
    text-align: center;
}

.container-estatisticas p {
    font-size: 20px;
    color: #EBC181;
}

.container-quarto-aleatorio {
    margin: 20px auto;
    text-align: center;
}

.container-quarto-aleatorio h2 {
    color: #EBC181;
}

.container-quarto-aleatorio .container-itens {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.cookie-message {
    background-color: #EBC181;
    color: #333B1E;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cookie-message a {
    color: #333B1E;
    text-decoration: underline;
    margin-left: 10px;
}

.cookie-message a:hover {
    color: #FFF;
    text-decoration: none;
}