.logo{
    width: 500px;
}

body{
    background-color: #333B1E;
    font-family: 'Barlow', sans-serif;
}
main{
    height: 100vh;
}

.container-banner{
    width: 100%;
    height: 80%;
    background-image: url("../img/banner-site.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.container-texto-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.container-banner h1,p{
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #FFF;
    font-weight: bold;
}


.container-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-menu-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-menu-titulo h3{
    font-size: 32px;
    color: #EBC181;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-menu-itens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #EBC181 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
}

.container-itens img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-itens p{
    margin: 10px 0;
    text-align: center;
}

.container-itens p:nth-child(4){
    color: #9B8357;
    font-size: 18px;
    font-weight: 600;
}

.container-itens p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.ornaments{
    width: 200px;
}

.titulo-menu-principal{
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #FFFFFF; 
    font-weight: bold;
}

.tabelas {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

.tabelas thead {
    background-color: #EBC181;
}

.tabelas thead th {
    color: #333B1E;
    font-size: 18px;
    padding: 10px;
}

.tabelas tbody tr {
    background-color: #555;
}

.tabelas tbody tr:nth-child(odd) {
    background-color: #666;
}

.tabelas tbody td {
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.tabelas tbody tr:hover {
    background-color: #777;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #EBC181;
    font-size: 24px;
    font-weight: bold;
}

ul li a:hover {
    color: #FFF;
}

header {
    background-color: #333B1E;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #EBC181;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

nav a:hover {
    color: #FFF;
}