
.logo{
    width: 500px;
}

body{
    background-color: #333B1E;
    font-family: 'Barlow', sans-serif;
}
main{
    height: 100vh;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #FFF;
    font-weight: bold;
}


.container-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-menu-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-menu-titulo h3{
    font-size: 32px;
    color: #EBC181;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-menu-itens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #EBC181 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
}

.container-itens img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-itens p{
    margin: 10px 0;
    text-align: center;
}

.container-itens p:nth-child(4){
    color: #9B8357;
    font-size: 18px;
    font-weight: 600;
}

.container-itens p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.ornaments{
    width: 200px;
}


header {
    background-color: #333B1E;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #EBC181;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

nav a:hover {
    color: #FFF;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #EBC181;
    font-size: 24px;
    font-weight: bold;
}

ul li a:hover {
    color: #FFF;
}

.tabelas {
    width: 100%;
    max-width: 800px; 
    margin: 15px auto; 
    border-collapse: collapse;
    border: 1px solid #EBC181;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.tabelas thead {
    background-color: #EBC181;
}

.tabelas thead th {
    color: #333B1E;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.tabelas tbody tr {
    background-color: #555;
    transition: background-color 0.3s ease; 
}

.tabelas tbody tr:nth-child(odd) {
    background-color: #666;
}

.tabelas tbody td {
    color: #FFF;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #EBC181; 
}

.tabelas tbody tr:hover {
    background-color: #777;
}

.tabelas tbody tr:nth-child(odd):hover {
    background-color: #888;
}

.editar button{
    background-color: #3D5A80;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.editar button:hover {
    background-color: #293241;
}

.excluir button {
    background-color: #EE6C4D;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.excluir button:hover {
    background-color: #F26419;
}
.btn-adicionar {
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.adicionar:hover {
    background-color: #45A049;
}

